apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/refs/heads/release-1.24/releases/cnpg-1.24.4.yaml

patches:
  - patch: |-
      - op: add
        path: /metadata/labels/istio.io/dataplane-mode
        value: ambient
    target:
      version: v1
      kind: Namespace
