apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-db
spec:
  instances: 1

  bootstrap:
    initdb:
      database: nextcloud
      owner: nextcloud

  storage:
    storageClass: rook-ceph-block
    size: 20Gi

  backup:
    barmanObjectStore:
      destinationPath: "s3://cnpg-backups/nextcloud"
      endpointURL: "http://stormwind.lan:3900"
      s3Credentials:
        accessKeyId:
          name: garage-creds
          key: ACCESS_KEY
        secretAccessKey:
          name: garage-creds
          key: SECRET_ACCESS_KEY
      wal:
        compression: gzip