apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: arr

images:
  - name: lscr.io/linuxserver/sabnzbd
    newTag: 4.5.5-ls236
  - name: lscr.io/linuxserver/sonarr
    newTag: 4.0.16.2944-ls297
  - name: lscr.io/linuxserver/radarr
    newTag: 6.0.4.10291-ls287
  - name: lscr.io/linuxserver/bazarr
    newTag: v1.5.3-ls324
  - name: lscr.io/linuxserver/lidarr
    newTag: 3.0.1.4866-ls10
  - name: lscr.io/linuxserver/jackett
    newTag: 0.22.2315
  - name: lscr.io/linuxserver/prowlarr
    newTag: 2.1.5.5216-ls131
  - name: haugene/transmission-openvpn
    newTag: 5.3.2
  - name: golift/notifiarr
    newTag: 0.9.1

resources:
  - namespace.yaml
  - sabnzbd.yaml
  - transmission.yaml
  - jackett.yaml
  - notifiarr.yaml
  - radarr.yaml
  - sonarr.yaml
  - anime.yaml
  - bazarr.yaml
  - bazarr-anime.yaml
  - lidarr.yaml
  - prowlarr.yaml

patches:
  - target:
      kind: Ingress
    patch: |-
      - op: add
        path: "/metadata/annotations/nginx.ingress.kubernetes.io~1whitelist-source-range"
        value: "192.168.0.0/16"