kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: cert-manager

resources:
  - namespace.yaml

helmCharts:
  - name: cert-manager
    releaseName: cert-manager
    namespace: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.1
    valuesInline:
      podAnnotations:
        match-regex.version-checker.io/cert-manager-controller: 'v(\d+)\.(\d+)\.(\d+)'
      cainjector:
        podAnnotations:
          match-regex.version-checker.io/cert-manager-cainjector: 'v(\d+)\.(\d+)\.(\d+)'
      webhook:
        podAnnotations:
          match-regex.version-checker.io/cert-manager-webhook: 'v(\d+)\.(\d+)\.(\d+)'
      crds:
        enabled: true
      prometheus:
        servicemonitor:
          enabled: true
      global:
        leaderElection:
          namespace: cert-manager
